
 <mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="#" class="example-tabs"  routerLink="/Home">Home</a>
    <a href="#" class="example-tabs"  routerLink="/sell">SELL</a>
    <a href="#" class="example-tabs"  routerLink="/addMessage">MESSAGE</a>
    <a href="#" class="example-tabs"  routerLink="/negotiate">NEGOTIATION</a>
    <a href="#" class="example-tabs"  routerLink="/buy">BUY</a>
    <a href="#" onClick="return false;" class="example-tabs"  [matMenuTriggerFor]="user">USER</a>
    <mat-menu #user="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    <a href="#" class="example-tabs"  [matMenuTriggerFor]="menu1">Third Line</a>
    <button mat-stroked-button class="example-tabs" >Menu3</button>
    <button mat-icon-button [matMenuTriggerFor]="menu1">Menu2</button>
    <button mat-button [matMenuTriggerFor]="menu1">Menu2</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar> 



<!-- <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li role="admin" routerLinkActive="active" ><a routerLink="/Home">Home</a></li>                
                <li role="admin" routerLinkActive="active"><a routerLink="/sell">SELL</a></li>
                <li role="admin" routerLinkActive="active"><a routerLink="/addMessage">MESSAGE</a></li>
                
                <li role="admin" routerLinkActive="active"><a routerLink="/negotiate">NEGOTIATION</a></li>
                <li role="admin" routerLinkActive="active"><a [routerLink]="['/user']">USER</a></li>
                <li role="admin" routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/buy">BUY</a></li>
                <li role="admin" routerLinkActive="active"><a routerLink="/self">SELF</a></li>
            </ul>
        </div>
    </div> 
  <li><a routerLink="/user/add-userDtl">ADD</a></li>
                        <li><a routerLink="/user/edit-userDtl">EDIT</a></li>
                        <li><a routerLink="/user/list-userDtl">LIST</a></li> -->
