<div class="container">
    <div class="row">
      <div class="card text-center">
        <div class="card-header"><b>Welcome to Surplus Kart Management </b></div>
        <div class="card-body" style="background-color:#B8B8B8;">
            <h5 class="card-title">Pustira Marketing</h5>
            <hr>
                <form [formGroup]="loginForm" (submit)="onSubmit()">
                <div class="form-group">
                <label for="username" style="color: white;">Username :</label>
                <input type="text" class="form-control" formControlName="username">
                <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched" class="error">
                    username is mandatory !!
                </span>
                <br>
                <label for="password" style="color: white;">Password :</label>
                <input type="password" class="form-control" formControlName="password">
                <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="error">
                    password is mandatory !!
                </span>
                </div>  
                <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                <br><br>
                <div class="error" *ngIf="showLoginError" style="background-color: yellow;">{{message}}</div>
                </form>
        </div>
    </div>
  </div>
  <br><br> <br><br> <br><br><br><br> <br><br> <br><br>
  </div>