<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">    

    <div class="form-group">
      <label for="fname">First Name:</label>
      <input formControlName="fname" placeholder="First Name" name="fname" class="form-control" id="fname">
      <span *ngIf="!addForm.get('fname').valid && addForm.get('fname').touched"
        class="help-block">Please enter a valid Name</span>
    </div>

    <div class="form-group">
      <label for="mname">Middle Name:</label>
      <input formControlName="mname" placeholder="Middle Name" name="mname" class="form-control" id="mname">
    </div>

    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input formControlName="lname" placeholder="Last name" name="lname" class="form-control" id="lname">
      <span *ngIf="!addForm.get('lname').valid && addForm.get('lname').touched"
      class="help-block">Please enter a valid Last Name</span>
    </div>

    <div class="form-group">
      <label for="designation">Designation:</label>
      <input formControlName="designation" placeholder="Designation" name="designation" class="form-control" id="designation">
      <span *ngIf="!addForm.get('designation').valid && addForm.get('designation').touched"
      class="help-block">Please enter a valid Designation</span>
    </div>

    <div class="form-group">
      <label for="phone">Contact No:</label>
      <input formControlName="phone" placeholder="Contact No" name="phone" class="form-control" id="phone">
      <span *ngIf="!addForm.get('phone').valid && addForm.get('phone').touched"
      class="help-block">Please enter a valid phone</span>
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email address" name="email" class="form-control" id="email">
      <span *ngIf="!addForm.get('email').valid && addForm.get('email').touched"
      class="help-block">Please enter a valid email</span>
    </div>
    

    <div class="form-group">
      <label for="company">Company:</label>
      <input formControlName="company" placeholder="Company" name="company" class="form-control" id="company">
      <span *ngIf="!addForm.get('company').valid && addForm.get('company').touched"
      class="help-block">Please enter a valid company</span>
    </div>

    <div class="form-group">
      <label for="faxNo">Fax No:</label>
      <input type="faxNo" formControlName="faxNo" placeholder="faxNo" name="faxNo" class="form-control" id="faxNo">
    </div>
    <div class="form-group">
      <label for="address1">Address 1:</label>
      <input formControlName="address1" placeholder="Address1" name="address1" class="form-control" id="address1">
      <span *ngIf="!addForm.get('address1').valid && addForm.get('address1').touched"
      class="help-block">Please enter a valid address1</span>
    </div>

    <div class="form-group">
      <label for="address2">Address 2:</label>
      <input formControlName="address2" placeholder="Address 2" name="address2" class="form-control" id="address2">
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <input formControlName="city" placeholder="city" name="city" class="form-control" id="city">
      <span *ngIf="!addForm.get('city').valid && addForm.get('city').touched"
      class="help-block">Please enter a valid city</span>
    </div>
    

    <div class="form-group">
      <label for="state">State:</label>
      <input formControlName="state" placeholder="state" name="state" class="form-control" id="state">
      <span *ngIf="!addForm.get('state').valid && addForm.get('state').touched"
      class="help-block">Please enter a valid state</span>
    </div>

    <div class="form-group">
      <label for="pinCode">Pin Code:</label>
      <input formControlName="pinCode" placeholder="pinCode" name="pinCode" class="form-control" id="pinCode">
      <span *ngIf="!addForm.get('pinCode').valid && addForm.get('pinCode').touched"
      class="help-block">Please enter a valid pinCode</span>
    </div>
    <button class="btn btn-success">Save</button>
  </form>
</div>