<!-- <nav class="navbar navbar-default bg-dark"> -->
<nav class="navbar navbar-default bg-light">
    <h5 style="color: orange;cursor: pointer;" (click)="onHomeClick()">Welcome, <i>{{userData.userName}}</i> :)</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="users" *ngIf="userData.role==='ADMIN' || userData.role==='CSM' ">Users</button>&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="products">Seller</button>&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="buyer">Buyer</button>&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="transaction">Transaction</button>
    <img src="../../assets/logout-icon.png" alt="logouticon" class="icon" (click)="logout()">
  </nav>
<router-outlet></router-outlet>